version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file: .env
    ports:
      - "8000:8000"
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000

  migrator:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file: .env
    command: sh -c "python manage.py migrate --noinput && python manage.py collectstatic --noinput"
    restart: 'no'
